body{
    background-color: rgb(153, 132, 138);
    color: aliceblue;
    min-height: 100vh;
}
.navbar-color{
    background-color: rgb(153, 132, 138);
}
.fondo-sobremi{
    background-image: url(../img/fondo.jpg);
    max-width: 100%;
    background-size: cover;
   
    flex-direction: row;
}
.contenido{
    display: flex;
    justify-content: center;
}
.imagen-andrea{
    width: 300px;
    height: 350px;
    display: grid;
}
.imagen-princial{
    color: black;
    background-repeat: no-repeat;
}

.tamaño-letra{
    font-size: medium;
}
.fondo-icono{
    background-color: rgb(160, 155, 156);
}

.footer{
    background-color: rgb(153, 132, 138);
    bottom: 0;
    width: 100%;
}
ul.iconos{
    display: inline-flex;
    justify-content: center;
    list-style: none;
    gap: 5rem;
    text-align: center;
    
}